.main{
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;
}

.main h1{
    font-size: 6vh;
    font-weight: 600;
    margin-bottom: 4%;
    color: #262959;
}



.dl-horizontal{
    margin-left: 10%;
}

.dl-horizontal dt{
    text-align: left;
    float: left;
    color: #262959;
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
}

.dl-horizontal dd{
    font-size: 15px;
    margin-bottom: 4%;
}

.dl-horizontal Button{
    margin-left: 3%;
    margin-top: 2%;
    color: white;
    background: rgb(80, 78, 78);
}