.Ban{
    border-top: 1px solid rgb(151, 148, 148);
    border-bottom: 1px solid rgb(151, 148, 148);
    margin-bottom: 3%;
    box-shadow: 5px 3px 4px #888888;
}

.Ban h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #262959;
}

.node{
    margin-top: 2%;
    padding-bottom: 1%;
}

.Ban p{
    font-size: 15px;
    line-height: 24px;
    color: #989898;
    font-weight: 700;
}
